


/* ////////// BASES ////////////////////////////////////////////////////////////////////////////////////// */


* {
font-family: 'Montserrat', sans-serif;
text-decoration: none !important;
}

#al {
  color: #ffffff !important;
}

h1 {
width: 10px !important;
font-size: 20%;
color: blue;
}
 
h4{
  font-family: monospace !important;
  font: bold !important;
}


/* ////////// CAMBIO DEL BOOTSTRAP ///////////////////////////////////////////////////////////////////////// */

/*barra de busqueda en home:*/
.form-inline{
   width: 300px;
   flex-direction: row;
    flex-wrap: nowrap;
}


/*boton search en home*/
.btn-outline-success{
   margin-left: 8px !important;
   flex-direction: row;
    flex-wrap: nowrap;
   }


   

.grid-areas2{
  display: grid;
  grid-template-areas: 
  "f1 f2 f3"
  "t1 t2 t3";
  background-color: #F4F6F7;
  grid-template-columns:  33.2% 33.2% 33.6%;
  grid-template-rows: 1fr 0.5fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  } 

  #f1 {
    grid-area: f1;
    background-image: url(../img/1.webp) !important;
    background-repeat: round;
    text-align: center;
    height: 150% !important;
    
    }
    #f2 {
      grid-area: f2;
      background-image: url(../img/2.webp) !important;
      background-repeat: round;
      text-align: center;
      height: 150% !important;
      }
      #f3 {
        grid-area: f3;
        background-image: url(../img/3.webp) !important;
        background-repeat: round;
        text-align: center;
        height: 150% !important;
        }
        #t1 {
          grid-area: t1;
          text-align: center;
          }
          #t2 {
            grid-area: t2;
            text-align: center;
            }
            #t3 {
              grid-area: t3;
              text-align: center;
              }

/* ////////// GRIDS AREAS ///////////////////////////////////////////////////////////////////////////////// */

/*.form-inline {
display flex; 
flex-direction row;

}*/
/* 

.grid-areas{
display: grid;
grid-template-areas: 
"cabeza cabeza cabeza"
"titulito titulito titulito"
"menu partone parttwo"
"partthree partthree partthree"
"lateral lateral lateral"
"pie pie pie";
background-color: #F4F6F7;
grid-template-columns:  33.2% 33.2% 33.6%;
grid-template-rows: 1fr 2fr 2fr 3fr 2fr 1fr;
 grid-template-rows: 5% 20% 16% 30% 16% 1%; 
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
} */


header {
grid-area: cabeza;
background-color: #ffffff;
text-align: center;
}

#titulito {
grid-area: titulito;
background-color: #ffffff;
width: 100%  !important;
height: 100% !important;
padding-top: 4%;
}

#partcero{
  width: 400% !important;
  grid-area: menu;
  background-image: url(../img/1.webp) !important;
  background-repeat: no-repeat;
  bottom: 0 !important;
}

#partone {
  width: 400% !important;
grid-area: partone;
background-image: url(../img/2.webp) !important;
background-repeat: no-repeat;
width: auto;
    height: auto;
    bottom: 0 !important;
}

#parttwo {
  width: 400% !important;
grid-area: parttwo;
background-image: url(../img/3.webp) !important;
background-repeat: no-repeat;width: auto;
    height: auto;
    bottom: 0 !important;
}

#partthree {
grid-area: partthree;
background-color: #ffffff;
padding-bottom: 2px !important;
padding-top: 30px !important;
}


#lateral {
grid-area: lateral;
text-align: center !important;
background-color: #ffffff;
}


nav {
}

  
aside {
  text-align: center !important;
grid-area: lateral;
background-color: #ffffff;
}
footer {
grid-area: pie;
background-color: #F4F6F7;
}

#foto{
    width: 100% !important;
    margin: auto; 

}

#foto2{
  width: 100% !important;
  margin: auto; 

}

#partecero{
background-image: url(../img/1.webp) !important;
background-repeat: no-repeat;
width: 50%;
    height: auto;
}

#hablemos{
  background-color: black;
  color: #ffffff;
  height: 120%;
  width: min-content;
  padding: 10%;
  }

  #medio{
    margin-inline: auto;
    grid-area: titulito;
    background-color: #ffffff;
    width: max-content;
    height: 100% !important;
    padding: 3%;
  }

  #meilexpo{
    opacity:0s
  }

  
  #hablamos2{
    background-color: #F4F6F7;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6%;
  }

  
#my-form{
text-align: center;
}



/* //////////   Flex dentro de GRids   ///////////////////////// */

.menu-flex {
display: flex;
flex-direction: column;
}



/* ////////// CLASES //////////////////////////////////////////////////////////////////////////////////////////// */

.grid-areas{
align-content: center !important;
  text-align: center !important;
}
/* 
.border1 {
border-style: solid !important;
border-color:  #F4F6F7 !important;
margin: 0% !important;
width: 50% !important;
    height: auto;
    bottom: 0 !important;

} */

.p2{
  font-size: 80%;
  padding-bottom: 3%;
  width: 100%  !important;
height: 100% !important;
}

.fotosTodasJuntas{
  justify-items: center;
  float: left;
}
/* 
.border0{
/* display: grid; 
vertical-align: middle;
text-align: center !important;
justify-content: center;
align-content: center;
width: 50% !important;

height: 100% !important;
} */


/* *_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_- */ 
/*  aca el width no puede ser manual, tiene que ser automatico del textTitle -  *_-*_-*_-*_-*_-*_-**_-*_-*_-*_-*_-*_-**_-*_-*_-*_-*_-*_-*/
/*  "" CORREGIR / MODIFICAR / MEJORAR / EDITAR / TAREA "" *_-*_-*_-*_-*_-*_-*_-*_-*_-*_- *_*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-**_-*_-*-_/
/* *_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_- *_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_-*_- */ 

.textTitle{

font-size: 3  00% !important;
font-family: Tim;
width: 100%  !important;
height: 100% !important;
text-align: center  !important;
color: #000000  !important;
height: auto  !important;
vertical-align: middle  !important;
justify-content: center  !important;
align-content: center  !important;
display: contents;
}

.textTitle4{
  font-size: 200% !important;
  width: 100%  !important;
height: 100% !important;

}






.centerSection{
  width: 100% !important;
   margin: auto;
}



.littleTitle{
  padding-top: 5%;
  text-shadow: 0 0 10px white;
color: black !important;
font-weight: bold !important;
text-decoration-color: #ffffff !important;
font-size: 110% ;
text-align: center;
justify-content: center;
width: 100%  !important;
height: 100% !important;

}


.text1{
align-content: center;
font-style: italic;
}

.text2{
  background-color: black;
  bottom: 0 !important;
  background: linear-gradient(100deg,rgba(0.4,0.4,0.4,0.4),rgba(0.4,0.4,0.4,0.4) 15%,transparent);
  text-shadow: 0 0 100px white;
  color: white!important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  align-content: center;
  font-weight: bolder !important;
  text-decoration-color: #F4F6F7 !important;
  font-size: 95%;
  font-family: serif;
  -webkit-text-stroke: 0.01px black;
}

.text3 {
  font-family: monospace !important;
  padding-bottom: 5%;
align-content: center;
text-align: center;
justify-content: center;

}



.pictureCustomer{
  width: 30% !important;
  height: auto;
  padding: 0.5%;
}

.footerText1{
   text-align:  left;
}

.footerText2{
   text-align:  right;

}




@media only screen and (max-width: 768px) {

  /* body{
    background-color: red !important;
  } */

  
.littleTitle{
  padding-top: 5%;
  text-shadow: 0 0 10px white;
color: black !important;
font-weight: bold !important;
text-decoration-color: #ffffff !important;
font-size: 40% ;
text-align: center;
justify-content: center;
width: 100%  !important;
height: 100% !important;

}

  .text2{
    display: none;
  }
  .text3 {
  
    font-family: monospace !important;
    padding-top: 10%;
  align-content: center;
  text-align: center;
  justify-content: center;
  
  }
}


/* ///////////////////////////////////////////////////////// */



.divprincipal1 {
  background-color: blue !important;
  text-align: center;
  float: center;
}

.divprincipales {
  width: 20% !important;
  background-color: cadetblue;
  float: left;
  margin: 5px;
  padding-top: 10%;
}

.botonprincipal {
  width: auto;
}

.skills99{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 60px; */
}

.izquierdaa{
  float: left;
}



/*
<!-- Made by Gque® -->
<!-- 
  ....................................................................................
  ....................................................................................
  .......*********....................................................................
  ....*****.....*****.................................................................
  ...****.........***.................................................................
  ..****..............................................................................
  .****...............................................................................
  *****...............................................................................
  *****...............................................................................
  *****...............................................................................
  .****.......********.........*********........****.....****.......*********.........
  ..****.......*******.....*****....******......****.....****....*****......****......
  ...****.........****.....****......*****......****.....****....****.......****......
  ....****************.....****......*****......****.....****....****...********......
  ....****************.....*****....******.......****...****.....*****................
  ........*********...........*********...........**********.......*********..........
   ........*********...........*********...........**********.......*********.........
  ...................................*******..........................................
  ....................................******..........................................
  ....................................................................................
  .................................................................................... 
  ...........................https://github.com/fcurrao...............................
  ....................................................................................
 -->
<!-- Made by Gque® -->
*/